@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
.font-merienda {
  font-family: var(--font-merienda), sans-serif;
}
@keyframes smoothWave {
  0%,
  100% {
    transform: translateY(0) skewY(0deg);
  }
  25% {
    transform: translateY(-3px) skewY(2deg);
  }
  75% {
    transform: translateY(3px) skewY(-2deg);
  }
}

.wavy-text {
  display: inline-block;
  animation: smoothWave 2s ease-in-out infinite;
}
@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}
.mouse-scroll-animation {
  width: 24px;
  height: 40px;
  border: 2px solid #000000; /* Adjust color */
  border-radius: 12px;
  position: relative;
}

.mouse-scroll-animation::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 8px;
  background: #000000; /* Adjust color */
  border-radius: 2px;
  animation: scrollDown 1.5s infinite;
}

@keyframes scrollDown {
  0% {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
  }
  100% {
    opacity: 0;
    transform: translateY(16px) translateX(-50%);
  }
}
